@import "./var.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--bg-light);
  overflow-x: hidden;
}

nav,
nav .container-fluid {
  margin: 0;
  padding: 0;
  z-index: 1000;
}

nav .container-fluid {
  position: fixed;
  top: 0;
  background: var(--bs-secondary);
}

.navbar-brand,
.navbar-img {
  margin: 0;
  padding: 0.1vw 0.4vw;
  background: var(--bs-tertiary-bg);
}

.navbar-brand:hover {
  cursor: pointer;
}

.navbar-toggler {
  position: absolute;
  top: 0;
  right: 0;
  width: 85px;
  height: 85px;
  color: #00000000;
  background-color: #00000000;
  border-color: #00000000;
  border-radius: 0;
}

.navbar-toggler:hover {
  border: 0;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5vw 0 calc(-80px + 20vw);
}

.nav-item input,
.nav-item select,
.nav-item button {
  margin: 1.5vmax 0 0.3vmax;
  height: 50px;
  font-size: clamp(12px, 3.5vw, 20px);
  letter-spacing: -1px;
}

.nav-item button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.navbar-favorites,
.v-form {
  display: none !important;
}

.navbar-favorites,
.navbar-favorites:hover,
.navbar-favorites:focus {
  position: absolute;
  top: 0;
  right: 85px;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  color: #ffffff;
  background-color: var(--bs-primary);
  border-color: #00000000;
  border-radius: 0;
  font-size: 30px;
  text-decoration: none;
}

.h-form {
  display: flex !important;
}

.type {
  margin-right: 8.5px;
  width: clamp(9.5vw, calc(300px - 6.5vw), 12vw);
}

.location {
  width: 10vw;
}

.name {
  width: 13vw;
}

.age {
  width: clamp(6.5vw, calc(180px - 6vw), 9.5vw);
}

.search {
  margin-left: 0.8vw;
  width: auto;
}

section {
  position: absolute;
  top: 85px;
}

section h1,
#details-title {
  margin: calc(30px - 0.3vw) 0 3vmax;
  width: 100vw;
  color: var(--bs-primary);
  font-size: 5.85vw;
  text-align: center;
}

section h1 span {
  color: var(--bs-dark);
}

.cards-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vmax;
  margin-bottom: 8vw;
  padding: 0 8vw;
  width: 100vw;
}

.card-img-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.card-img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: calc(15px - 0.3vw) calc(15px - 0.3vw) 0 0;
  object-fit: cover;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title .btn-outline-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: clamp(5px, calc(30px - 0.5vw), 20px);
  height: clamp(5px, calc(30px - 0.5vw), 20px);
}

.card-published-footer {
  background-color: var(--bs-light);
}

small {
  font-size: 12px;
  font-weight: 600;
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(0.5vw, calc(30px - 1vw), 10vw) 0;
  color: #ffffff;
  background-color: var(--bs-primary);
  text-align: center;
  user-select: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.card-button:hover {
  color: #ffffff;
  background-color: var(--bs-secondary);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10vw;
  width: 100vw;
  box-sizing: border-box;
}

#details-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

#details-title strong {
  font-size: 7vw;
  text-align: left;
}

#details-title div {
  display: flex;
  gap: 1vw;
}

.contacts-link {
  text-decoration: none;
}

.details-favorite,
.details-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5vw;
  height: 7.5vw;
  aspect-ratio: 1 / 1;
  border-radius: 1.3vw;
  font-size: 6vw;
}

.details-favorite {
  border-width: 0.3vmax;
}

.carousel {
  position: relative;
  width: clamp(45%, calc(800px - 8%), 100%);
  border-radius: 2vmax;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.carousel-inner,
.carousel-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.h2 {
  display: flex;
  justify-content: space-between;
  margin-top: clamp(3vw, calc(40px - 1vw), 10vw);
  width: 100%;
  color: var(--bs-primary);
  font-size: 3.3vw;
  font-weight: 400;
}

.h2 p span {
  color: var(--bs-dark);
}

.h2>span {
  color: var(--bs-secondary);
}

.hr {
  width: 115%;
  border: 0.01vmax solid var(--bs-dark);
}

.details-description,
.details-container ul {
  margin: calc(30px - 0.3vw) 0 0 0;
  width: 100%;
  color: var(--bs-dark);
  font-size: 1.7vmax;
  text-align: justify;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: p;
}

.details-container ul {
  margin: 0;
}

.details-description .h2 {
  margin: 2.5vmax 0;
  font-size: clamp(3.3vw, calc(60px - 1vw), 11vw);
}

.details-benefits {
  font-size: clamp(2.6vw, calc(40px - 1vw), 9vw) !important;
}

.details-container ul {
  align-self: flex-start;
}

.details-description a {
  color: var(--bs-secondary);
  text-decoration: none;
}

.contacts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: left;
  align-items: center;
  padding-right: calc(650px - 5vw);
  width: 100%;
}

.contacts-container h1 {
  width: 20vmax;
  font-size: 5vmax;
  text-align: left;
}

.contacts-container .contacts {
  font-size: clamp(1vw, 20px, 20px);
}

@media (max-width: 393px) {
  .card-button {
    padding: 0;
    font-size: 10vw;
  }
}

@media (max-width: 583px) {
  .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 170px);
    height: 85px;
  }

  .navbar-img {
    background: #00000000;
  }

  .navbar-favorites {
    display: flex !important;
  }

  .v-form {
    display: flex !important;
    flex-direction: column;
    width: 100%;
  }

  .h-form,
  .favorites {
    display: none !important;
  }
}

@media (max-width: 747px) {
  .navbar-collapse {
    justify-content: center;
    padding: 0 1.5vw 0 1.5vw;
  }

  .type,
  .location,
  .name,
  .age,
  .search,
  .favorites {
    font-size: 2vw;
  }

  .age {
    width: 15vw;
  }

  .favorites {
    margin-left: 0.8vw;
  }
}

@media (max-width: 673px) {
  .type {
    width: 75px;
  }
}

@media (max-width: 680px) {
  .contacts-container .contacts {
    font-size: 4vw;
  }
}

@media (max-width: 709px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 709px) and (min-width: 394px) {
  .card-button {
    font-size: 4.5vw;
  }
}

@media (max-width: 764px) and (min-width: 748px) {
  .navbar-collapse {
    justify-content: space-between;
  }
}

@media (max-width: 918px) {
  .contacts-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .contacts-container h1 {
    margin-bottom: 2vmax;
    width: 100%;
    font-size: 13vw;
    text-align: center;
  }

  .contacts-container .contacts {
    justify-self: center;
    margin-bottom: 10vw;
  }
}

@media (max-width: 918px) and (min-width: 681px) {
  .contacts-container .contacts {
    font-size: 30px;
  }
}

@media (max-width: 934px) and (min-width: 765px) {
  .navbar-collapse {
    justify-content: center;
    padding: 0 1.5vw 0 1.5vw;
  }

  .favorites {
    margin-left: 0.8vw;
  }
}

@media (max-width: 985px) and (min-width: 748px) {
  .age {
    width: 95px;
  }
}

@media (max-width: 1016px) {
  .location {
    width: 100px;
  }
}

@media (max-width: 1049px) and (min-width: 710px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1396px) {
  .contacts-container {
    padding-right: 0;
  }
}

@media (max-width: 1636px) and (min-width: 1397px) {
  .contacts-container {
    padding-right: calc(650px - 20vw);
  }
}

@media (min-width: 2150px) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}